.login-container {
  width: 300px;
  margin-bottom: 200px;
  margin-top: 50px;
}

.login-container .form-control {
  margin-bottom: 10px;
}

.login-container .form-control {
  margin-bottom: 10px;
}

.login-container .btn {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.auth-logo {
  font-size: 40px;
  font-family: verdana, arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  text-indent: -9999px;
  background: url('../img/logo.png') no-repeat center center;
  height: 85px;
}

.auth-logo .logo-pay {

}

.login-container .auth-logo {
  margin: 20px 0;
}

.footer-container {
  text-align: center;
  color: #999;
}

.roles-list h3 {
  margin-top: 0;
  color: #999;
}

.tab-pane {
  position: relative;
}

.tools {
  right: 0;
  top: 0;
  position: absolute;
  margin-top: 30px;
  margin-right: 20px;
}

.datepicker.dropdown-menu {
  z-index: 1500 !important;
}

#modal-event .bootstrap-timepicker,
#modal-event .datepicker {
  float: left;
  margin: 0;
  width: 50%;
}

.datepicker {
  padding: 6px 12px !important;
}

.timesheet-item-template,
.timesheet-item-template .timesheet-content,
.timesheet-item-template table {
  float: left;
  width: 100%;
  clear: both;
}

.timesheet-item-template .btn-new-event {
  float: right;
}

.timesheet-item-template .role-company {
  clear: both;
}

.timesheet-item-template .role-title,
.timesheet-item-template .role-company {
  float: left;
}

.payroll-results {
  font-size: 20px;
  margin: 20px;
}

.payroll-results td {
  padding: 5px;
}

.payroll-results tr td:first-child {
  padding-right: 10px;
  background: #ccc;
}

.payroll-results tr td:last-child {
  padding-left: 10px;
}

.actions a {
  padding: 2px 10px;
}

.timesheet-item-template .edit {
  float: left;
  margin-right: 5px;
}